<!-- {{questionAnswered question}} -->

{{#link-to 'question' question.id}}{{questionAnswered question}}<p>question: {{question.content}}</p>{{/link-to}}
<button {{action 'addToFavorites' question}}>Add to Favorites</button>

<button {{action 'delete' question}}>delete</button>
<br>
<div> {{update-question question=question update='update' saveAnswer='saveAnswer'}}
</div>
